.inventoryCategoryBox{ /*재고 페이지 상단구역*/
     display: flex;
     width: 1580px;
     height: 100px;
     margin-left: 20px;
     padding-top: 20px;
 }
 .inventoryContent{ /*재고 페이지 컨텐츠 구역*/
      margin: 0px !important;
      width : 1520px;
      padding-left: 20px;
  }

  .inventoryCategory{ /*재고 페이지 상단 카테고리 */
        align-items: center;
       background: #e6e6e7;
       cursor: pointer;
       display: flex;
       font-size: 32px;
       height: 100px;
       justify-content: space-around;
       width: 200px;
  }
  .selectInventoryCategory{
       background: #F9F9F9 !important;
       font-weight: bold;
       border-radius: 15px 15px 0 0;
   }